---
interface Props {
    title: string;
    body: string;
    href: string;
}

const { href, title, body } = Astro.props;
---

<li
    class={`card--${title.toLowerCase()} flex list-none p-4 bg-slate-200 dark:bg-slate-800 rounded-lg shadow-none hover:shadow-lg scale-100 hover:scale-105 transition-all ease-in-out`}>
    <a
        href={href}
        class='w-100 no-underline dark:text-white p-2'>
        <h2 class='m-0 font-bold text-lg'>
            {title}
            <span>&rarr;</span>
        </h2>
        <p class='mb-0 mt-2'>
            {body}
        </p>
    </a>
</li>
<style lang='scss'>
    $emotions: (
        'sad': purple,
        'anger': red,
        'fear': orange,
        'joyful': #ffd700,
        'peaceful': blue,
        'powerful': green,
    );
    @each $emotion, $color in $emotions {
        .card--#{$emotion} {
            &:hover,
            &:active,
            &:focus-within {
                background-image: linear-gradient(
                    to right bottom,
                    $color,
                    darken($color, 10%)
                );
                color: white;
            }
        }
    }
</style>
